# SERVER
PORT=3000 
#Replace with your correct URI 
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/creator_cards?retryWrites=true&w=majority
APP_NAME=creator-card-api
NODE_ENV=production

